<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
    <title>Statistics</title>
    </head>
    <body>
      <form>
      <div style="text-align: center;">
      <label class="diss">District Name:</label>
      <input type="text" name="district" /><br><br>
      <label class="dis">Area(sq mt):</label>
      <input type="text" name="area" /><br><br>
      <label class="dis">Population:</label>
      <input type="text" name="population" /><br><br>
      <button input type="submit">Save</button>
    </div>
      <fieldset>
        <legend>Biggest District:</legend>
        <label>
        <input type="radio" name="Biggest" value="Chennai" />Chennai</label>
        <label><input type="radio" name="Biggest" value="Coimbatore" />Coimbatore</label>
        <label><input type="radio" name="Biggest" value="Salem" />Salem</label>
      </fieldset><br>
      <fieldset>
        <legend>Highly Populated Distric:</legend>
        <label>
        <input type="radio" name="Highly" value="Chennai" />Chennai</label>
        <label><input type="radio" name="Highly" value="Coimbatore" />Coimbatore</label>
        <label><input type="radio" name="Highly" value="Salem" />Salem</label>
      </fieldset>
      </form>
    </body>
</html>